@model Product

<form method="post" asp-action="Delete">
    <div class="border p-3 mt_4">
        <div class="row pb-2">
            <h2>Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="PurchaseDate"></label>
            <input type="date" asp-for="PurchaseDate" disabled class="form-control" />
        
        </div>
        <div class="mb-3">
            <label asp-for="Office.Location"></label>
            <input asp-for="Office.Location" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width: 150px">Delete</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

